[Desktop Entry]
Name=jTileDownloader
Comment=Download map tiles
Exec=jtiledownloader
Icon=$SNAP/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Utility;
